.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }
}

body {
  font-family: "Roboto";
  padding-top: 61px;
}
@media screen and (min-width: 768px) {
  body {
    padding-top: 81px;
  }
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  cursor: pointer;
}

.header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background-color: #FFF;
  z-index: 3;
  opacity: 0.9;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #ECECEC;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 20px 0px 20px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 24.5px 0px 24.5px 0px;
  }
}
.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__button-menu {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__button-menu {
    display: none;
  }
}
.header__img-menu {
  width: 40px;
  height: 40px;
}
.header__logo:focus {
  background-color: rgb(226, 226, 226);
  outline: none;
  border-radius: 5px;
}
.header__logo2 {
  color: #000;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list-menu {
  align-items: center;
  display: none;
  gap: 52px;
}
@media screen and (min-width: 768px) {
  .header__list-menu {
    display: flex;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list-menu {
    gap: 52px;
    margin-left: 95px;
  }
}
.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  top: 6px;
}
.header__link:hover {
  color: #2196f3;
}
.header__link:focus {
  outline: none;
  color: #2196f3;
}
.header__link:hover::after {
  opacity: 1;
  transform: scale(1);
}
.header__link::after {
  content: "";
  display: block;
  background-color: #2196f3;
  height: 3px;
  width: 100%;
  margin: 10px 0px 0px 0px;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  top: 19px;
  border-radius: 2px;
}
.header__link-info1 {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header__link-info1 {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .header__link-info1 {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.header__link-info1:focus {
  outline: none;
  color: #2196f3;
  fill: #2196f3;
}
.header__link-info2:focus {
  outline: none;
  color: #2196f3;
  fill: #2196f3;
}
.header__link-info1:focus .header__svg1 {
  outline: none;
  fill: #2196f3;
}
.header__link-info2:focus .header__svg2 {
  outline: none;
  fill: #2196f3;
}
.header__link-info1:hover .header__svg1 {
  fill: #2196f3;
}
.header__link-info2:hover .header__svg2 {
  fill: #2196f3;
}
.header__infoBox {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .header__infoBox {
    gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .header__infoBox {
    gap: 10px;
  }
}
.header__svg2 {
  width: 10px;
  height: 16px;
  fill: #757575;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__svg2:hover {
  fill: #2196f3;
}
.header__svg1 {
  width: 16px;
  height: 12px;
  fill: #757575;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__svg1:hover {
  fill: #2196f3;
}
.header__link-info1:hover {
  color: #2196f3;
}
.header__link-info2 {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header__link-info2 {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .header__link-info2 {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.header__link-info2:hover {
  color: #2196f3;
}
.header__list-info {
  display: none;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .header__list-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list-info {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

.portfolio {
  padding: 20px 0px 60px 0px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 24px 0px 94px 0px;
  }
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  align-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__list {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item-last-child {
    position: relative;
    right: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item-last-child {
    position: relative;
    left: 0;
  }
}
.portfolio__item {
  outline: 1px solid #EEE;
  display: block;
  position: relative;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__article {
  display: block;
  overflow: visible;
}
.portfolio__article:focus {
  padding-bottom: 0.1px;
  width: 100%;
  height: 100%;
  outline: none;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  overflow: visible;
}
.portfolio__tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 20px 24px 0px 24px;
}
.portfolio__discription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px 24px 20px 24px;
}
.portfolio__overlay-box {
  width: 372px;
  height: 294px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
}
.portfolio__overlay {
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 372px;
  height: 294px;
  background-color: #2196F3;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.portfolio__item:hover .portfolio__overlay {
  transform: translatex(0);
}
.portfolio__article:focus .portfolio__overlay {
  transform: translatex(0);
}
.portfolio__hover-text {
  position: absolute;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  max-width: 332px;
}

.button {
  padding: 60px 0px 20px 0px;
}
@media screen and (min-width: 768px) {
  .button {
    padding: 60px 0px 30px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .button {
    padding: 94px 0px 24px 0px;
  }
}
.button__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
  max-width: 372px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .button__list {
    max-width: 100%;
    justify-content: center;
  }
}
.button__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #F5F4FA;
  border: #F5F4FA;
  height: 38px;
  border-radius: 4px;
  padding: 6px 25px 6px 25px;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button__btn:hover {
  background-color: #2196F3;
  border: #2196F3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button__btn:focus {
  background-color: #2196F3;
  border: #2196F3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
  display: flex;
}
.footer .footer__logo:focus {
  background-color: rgb(24, 24, 56);
  outline: none;
  border-radius: 5px;
}
.footer__logo {
  display: flex;
  justify-content: center;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    display: block;
  }
}
.footer__logo2 {
  color: #fff;
}
.footer__address {
  margin-top: 20px;
  text-align: center;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  opacity: 0.9;
}
@media screen and (min-width: 1200px) {
  .footer__address {
    text-align: end;
  }
}
.footer__list {
  margin: 0;
  padding: 0;
}
.footer__link2, .footer__link1 {
  margin-top: 8px;
  display: block;
  text-align: center;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .footer__link2, .footer__link1 {
    text-align: left;
  }
}
.footer__link1:focus {
  color: #2196f3;
  outline: none;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link2:focus {
  color: #2196f3;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.footer__part2 {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer__part2 {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__part2 {
    margin-left: 70px;
    margin-top: 0;
  }
}
.footer__part2 .footer__icons-list {
  margin-top: 20px;
}
.footer__title {
  text-align: center;
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: start;
  }
}
.footer__part2 .footer__icons {
  fill: #fff;
}
.footer__part2 .footer__link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.footer__part2 .footer__link:hover {
  background-color: #2196f3;
}
.footer__part2 .footer__link:focus {
  background-color: #2196f3;
}
.footer__icons-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 28px;
}
.footer__icons {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icons-list li {
  width: 44px;
  height: 44px;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icons-list li:hover .footer__icons {
  fill: #fff;
}
.footer__link {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:focus {
  outline: none;
  fill: #fff;
  background-color: #2196f3;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:focus .footer__icons {
  fill: #fff;
}
.footer__link:hover {
  fill: #fff;
  background-color: #2196f3;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__part3 {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__part3 {
    margin-top: 0;
    margin-left: 93px;
  }
}
.footer__subtitle {
  margin-bottom: 20px;
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__subtitle {
    text-align: start;
  }
}
.footer__box {
  margin-top: 10px;
  display: block;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer__box {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
.footer__input {
  display: block;
  margin: 0 auto;
  width: 270px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
  height: 46.86px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .footer__input {
    width: 358px;
  }
}
@media screen and (min-width: 480px) {
  .footer__input {
    width: 358px;
  }
}
@media screen and (min-width: 768px) {
  .footer__input {
    width: 468px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    display: block;
    margin: auto;
    width: 358px;
  }
}
.footer__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
}
.footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
}
.footer__input:focus {
  outline: #000;
}
.footer__sbmit-btn {
  display: block;
  margin: 20px auto 0px auto;
  gap: 10px;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .footer__sbmit-btn {
    display: block;
    margin: auto;
  }
}
.footer__sbmit-btn:focus {
  outline: none;
  border: 1.5px solid #fff;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__btn-text {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}
.footer__tg-icon {
  fill: #FFF;
  width: 24px;
  height: 24px;
}
.footer .container {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer .container {
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    width: 1200px;
  }
}
.footer__adaptive-box {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer__adaptive-box {
    display: flex;
    justify-content: space-between;
  }
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }
}

body {
  font-family: "Roboto";
  padding-top: 61px;
}
@media screen and (min-width: 768px) {
  body {
    padding-top: 81px;
  }
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  cursor: pointer;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 15px 48px 40px;
  background-color: #fff;
  z-index: 10;
}
.menu__hrestyk {
  width: 40px;
  height: 40px;
}
.menu__list-box {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.menu__btn {
  padding: 0;
  display: block;
  margin-left: auto;
  background-color: #fff;
  outline: none;
  border: none;
}
.menu__list-menu {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.menu__link {
  color: #212121;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}
@media screen and (min-width: 480px) {
  .menu__link {
    font-size: 40px;
  }
}
.menu__link-info1 {
  display: block;
  color: #2196F3;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.68px;
}
@media screen and (min-width: 480px) {
  .menu__link-info1 {
    font-size: 34px;
  }
}
.menu__link-info2 {
  display: block;
  margin-top: 32px;
  color: #757575;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.menu__link:hover, .menu__link:focus {
  color: #2196F3;
}
.menu__link2 {
  color: #2196F3;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 122.222% */
  letter-spacing: 0.36px;
}
.menu__links-list {
  display: flex;
  flex-wrap: wrap;
  margin: 64px 0px 48px 0px;
  gap: 20px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background-color: #FFF;
  z-index: 3;
  opacity: 0.9;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #ECECEC;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 20px 0px 20px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 24.5px 0px 24.5px 0px;
  }
}
.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__button-menu {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__button-menu {
    display: none;
  }
}
.header__img-menu {
  width: 40px;
  height: 40px;
}
.header__logo:focus {
  background-color: rgb(226, 226, 226);
  outline: none;
  border-radius: 5px;
}
.header__logo2 {
  color: #000;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list-menu {
  align-items: center;
  display: none;
  gap: 52px;
}
@media screen and (min-width: 768px) {
  .header__list-menu {
    display: flex;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list-menu {
    gap: 52px;
    margin-left: 95px;
  }
}
.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  top: 6px;
}
.header__link:hover {
  color: #2196f3;
}
.header__link:focus {
  outline: none;
  color: #2196f3;
}
.header__link:hover::after {
  opacity: 1;
  transform: scale(1);
}
.header__link::after {
  content: "";
  display: block;
  background-color: #2196f3;
  height: 3px;
  width: 100%;
  margin: 10px 0px 0px 0px;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  top: 19px;
  border-radius: 2px;
}
.header__link-info1 {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header__link-info1 {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .header__link-info1 {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.header__link-info1:focus {
  outline: none;
  color: #2196f3;
  fill: #2196f3;
}
.header__link-info2:focus {
  outline: none;
  color: #2196f3;
  fill: #2196f3;
}
.header__link-info1:focus .header__svg1 {
  outline: none;
  fill: #2196f3;
}
.header__link-info2:focus .header__svg2 {
  outline: none;
  fill: #2196f3;
}
.header__link-info1:hover .header__svg1 {
  fill: #2196f3;
}
.header__link-info2:hover .header__svg2 {
  fill: #2196f3;
}
.header__infoBox {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .header__infoBox {
    gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .header__infoBox {
    gap: 10px;
  }
}
.header__svg2 {
  width: 10px;
  height: 16px;
  fill: #757575;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__svg2:hover {
  fill: #2196f3;
}
.header__svg1 {
  width: 16px;
  height: 12px;
  fill: #757575;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__svg1:hover {
  fill: #2196f3;
}
.header__link-info1:hover {
  color: #2196f3;
}
.header__link-info2 {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header__link-info2 {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .header__link-info2 {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.header__link-info2:hover {
  color: #2196f3;
}
.header__list-info {
  display: none;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .header__list-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list-info {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

.cap {
  padding: 118px 0px 118px 0px;
  margin: 0 auto;
  max-width: 1600px;
  background-image: url(../img/overlay.png), url(../img/img-studio/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .cap {
    padding: 200px 0px 200px 0px;
  }
}
.cap__tittle {
  margin: 0 auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 9999;
}
@media screen and (min-width: 1200px) {
  .cap__tittle {
    font-size: 44px;
    max-width: 696px;
  }
}
.cap__button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  border: #2196f3;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  z-index: 9999;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .cap__button {
    width: 216px;
    height: 50px;
  }
}
.cap__button:hover {
  background-color: #F5F4FA;
  color: #2196f3;
  transition: 0.25s;
  transform: scale(1.1);
}
.cap__button:focus {
  outline: none;
  background-color: #F5F4FA;
  color: #2196f3;
  transition: 0.25s;
}

.advantages {
  padding: 60px 0px 60px 0px;
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding: 94px 0px 47px 0px;
  }
}
.advantages__tittle {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantages__tittle {
    text-align: left;
  }
}
.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .advantages__list {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .advantages__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.advantages__discription {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.advantages__item::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}
.advantages__item:nth-child(1)::before {
  background-image: url(../img/Vector.svg);
}
.advantages__item:nth-child(2)::before {
  background-image: url(../img/clock.svg);
}
.advantages__item:nth-child(3)::before {
  background-image: url(../img/diagram.svg);
}
.advantages__item:nth-child(4)::before {
  background-image: url(../img/astronaut.svg);
}

.offers {
  padding: 47px 0px 94px 0px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .offers {
    display: block;
  }
}
.offers__list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.offers__tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.offers__title2 {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.offers__title-box {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0px;
  opacity: 0;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.offers__item {
  position: relative;
  height: 294px;
  width: 370px;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.offers__item:hover .offers__title-box {
  opacity: 1;
}
.offers__item::before {
  display: block;
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
}

.command {
  padding: 60px 0px 60px 0px;
  background-color: #F5F4FA;
}
@media screen and (min-width: 1200px) {
  .command {
    padding: 94px 0px 94px 0px;
  }
}
.command__heading {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .command__heading {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.command__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.command__list li {
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .command__list li {
    max-width: 354px;
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .command__list li {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.command__article {
  padding-bottom: 24px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.command__tittle {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
}
.command__img {
  width: 100%;
  height: 100%;
}
.command__discription {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}
.command__icons-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
.command__icons {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
}
.command__icons-list li {
  flex-basis: 0%;
  width: 44px;
  height: 44px;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.command__icons-list li:hover .command__icons {
  fill: #fff;
}
.command__icon-link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.command__icon-link:focus {
  outline: none;
  fill: #fff;
  background-color: #2196f3;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.command__icon-link:focus .command__icons {
  fill: #fff;
}
.command__icon-link:hover {
  fill: #fff;
  background-color: #2196f3;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding: 60px 0px 60px 0px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0px 94px 0px;
  }
}
.clients__title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
  }
}
.clients__list {
  margin-top: 50px;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.clients__list li {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__list li {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__list li {
    flex-basis: calc((100% - 300px) / 6);
  }
}
.clients__link {
  height: 92px;
  flex-basis: calc((100% - 30px) / 2);
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:focus {
  outline: none;
  border: 1px solid #2196f3;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:focus .clients__icon {
  fill: #2196f3;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover {
  border: 1px solid #2196f3;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon {
  fill: #2196f3;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
  display: flex;
}
.footer .footer__logo:focus {
  background-color: rgb(24, 24, 56);
  outline: none;
  border-radius: 5px;
}
.footer__logo {
  display: flex;
  justify-content: center;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    display: block;
  }
}
.footer__logo2 {
  color: #fff;
}
.footer__address {
  margin-top: 20px;
  text-align: center;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  opacity: 0.9;
}
@media screen and (min-width: 1200px) {
  .footer__address {
    text-align: end;
  }
}
.footer__list {
  margin: 0;
  padding: 0;
}
.footer__link2, .footer__link1 {
  margin-top: 8px;
  display: block;
  text-align: center;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .footer__link2, .footer__link1 {
    text-align: left;
  }
}
.footer__link1:focus {
  color: #2196f3;
  outline: none;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link2:focus {
  color: #2196f3;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.footer__part2 {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer__part2 {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__part2 {
    margin-left: 70px;
    margin-top: 0;
  }
}
.footer__part2 .footer__icons-list {
  margin-top: 20px;
}
.footer__title {
  text-align: center;
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: start;
  }
}
.footer__part2 .footer__icons {
  fill: #fff;
}
.footer__part2 .footer__link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.footer__part2 .footer__link:hover {
  background-color: #2196f3;
}
.footer__part2 .footer__link:focus {
  background-color: #2196f3;
}
.footer__icons-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 28px;
}
.footer__icons {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icons-list li {
  width: 44px;
  height: 44px;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icons-list li:hover .footer__icons {
  fill: #fff;
}
.footer__link {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:focus {
  outline: none;
  fill: #fff;
  background-color: #2196f3;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:focus .footer__icons {
  fill: #fff;
}
.footer__link:hover {
  fill: #fff;
  background-color: #2196f3;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__part3 {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__part3 {
    margin-top: 0;
    margin-left: 93px;
  }
}
.footer__subtitle {
  margin-bottom: 20px;
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__subtitle {
    text-align: start;
  }
}
.footer__box {
  margin-top: 10px;
  display: block;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer__box {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
.footer__input {
  display: block;
  margin: 0 auto;
  width: 270px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
  height: 46.86px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .footer__input {
    width: 358px;
  }
}
@media screen and (min-width: 480px) {
  .footer__input {
    width: 358px;
  }
}
@media screen and (min-width: 768px) {
  .footer__input {
    width: 468px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    display: block;
    margin: auto;
    width: 358px;
  }
}
.footer__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
}
.footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
}
.footer__input:focus {
  outline: #000;
}
.footer__sbmit-btn {
  display: block;
  margin: 20px auto 0px auto;
  gap: 10px;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .footer__sbmit-btn {
    display: block;
    margin: auto;
  }
}
.footer__sbmit-btn:focus {
  outline: none;
  border: 1.5px solid #fff;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__btn-text {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}
.footer__tg-icon {
  fill: #FFF;
  width: 24px;
  height: 24px;
}
.footer .container {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer .container {
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    width: 1200px;
  }
}
.footer__adaptive-box {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer__adaptive-box {
    display: flex;
    justify-content: space-between;
  }
}

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  } */
.backdrop {
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal-window {
  transition: 0.5s;
  padding: 8px 0px 40px 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 450px;
  height: 609px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
    height: 581px;
  }
}

.modal-close {
  margin-right: 8px;
  margin-left: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .hrestyk {
  fill: #2196f3;
}

.hrestyk {
  fill: #000;
  width: 18px;
  height: 18px;
  transition: 0.25s;
}

.modal-title {
  max-width: 370px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: #212121;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}
@media screen and (min-width: 1200px) {
  .modal-title {
    max-width: 448px;
  }
}

.input-container1 {
  width: 328px;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-container1:hover .input-icon {
  fill: #2196f3;
}

.input-container2 {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-container2:hover .input-icon2 {
  fill: #2196f3;
}

.input-container3 {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-container3:hover .input-icon3 {
  fill: #2196f3;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}

.modal-input {
  width: 328px;
  caret-color: #000;
  position: relative;
  padding-left: 42px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input2 {
  width: 328px;
  caret-color: #000;
  position: relative;
  padding-left: 42px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input3 {
  width: 328px;
  caret-color: #000;
  position: relative;
  padding-left: 42px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover, .modal-input:focus, .modal-input2:hover, .modal-input2:focus, .modal-input3:hover, .modal-input3:focus {
  border: 1px solid #2196f3;
}

.modal-input:focus + .input-icon {
  fill: #2196f3;
}

.modal-input2:focus + .input-icon2 {
  fill: #2196f3;
}

.modal-input3:focus + .input-icon3 {
  fill: #2196f3;
}

.modal-input4 {
  margin: 0 auto;
  width: 358px;
  position: relative;
  padding-left: 12px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
  padding-bottom: 97.4px;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input4:hover, .modal-input4:focus {
  border: 1px solid #2196f3;
}

.visually-hidden {
  margin: 10px 0px 4px 0px;
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.input-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 52px;
  top: 104px;
  z-index: 1;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon2 {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 52px;
  top: 176px;
  z-index: 1;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon3 {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 52px;
  top: 248px;
  z-index: 1;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box {
  gap: 8px;
  margin-top: 25px;
}

.modal-form {
  width: 100%;
}

.checkbox-text {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-conditions {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.modal-submitBtn {
  margin: 30px auto;
  padding: 10px 52px 10px 52px;
  border: none;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button-box {
  display: flex;
  justify-content: center;
}

.fake-chekbox {
  position: relative;
  /* background-color: $main-color; */
  width: 12px;
  height: 11px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.galochka {
  width: 13px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* opacity: 0; */
}

.modal-checkbox:checked + .fake-chekbox {
  background-color: #2196f3;
  opacity: 1;
  border: none;
  width: 16px;
  height: 15px;
}

.modal-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.footer__part2 .footer__link, .footer__link, .footer__sbmit-btn, .offers__title-box, .command__icon-link, .clients__link, .modal-close, .modal-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__part2 .footer__link, .footer__link, .footer__sbmit-btn, .offers__title-box, .command__icon-link, .clients__link, .modal-close, .modal-box {
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=portfolio.css.map */