*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.logo {
    color: #2196F3;
    font-family: 'Raleway';
    text-decoration: none;
    font-size: 26px;
    font-weight: 900;
}

.logo2 {
    color: #000;
}

.nav-list-menu a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.nav-list-menu a:active {
    color: #2196F3;
}

.nav-list-menu a:hover{
    color: #2196F3;
}

.nav-list-info a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #757575;
    font-size: 14px;

}

.nav-list-info a:active{
    color: #2196F3;
}

.nav-list-info a:hover{
    color: #2196F3;
}

            /* main */

.cap-tittle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #212121;
    
}

.cap-button {
    width: 216px;
    height: 50px;
    border: #2196F3;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;

}


.why-us h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.why-us p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.what-we-do-tittle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.our-command-tittle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #212121;
    
}

.what-we-do-list {
    display: flex;
    justify-content: center;
}

.our-command {
    background-color: #F5F4FA;
}

.our-command-article {
    background-color: #fff;
    width: 270px;
    height: 428px;
}

.our-command-tittle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
}

.our-command-img {
    width: 270px;
    height: 260px;
}

.our-command-discription {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #757575;
}

.icon {
    display: flex;
}

.icons {
    width: 20px;
    height: 20px;
    margin-inline:14px;
}

        /* footer */

footer {
    padding: 0;
    background-color: #2F303A;
    height: 252px;
    
}



.footer-address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-list a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-list {
    margin: 0;
    padding: 0;
}