/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  } */

.backdrop {
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.20);
    opacity: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
   
.no-scroll {
    overflow: hidden;
}


.modal-window { 
    transition: .5s;
    padding: 8px 0px 40px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 528px;
    height: 581px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.modal-close {
    margin-left: 490px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    transition:.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .hrestyk{
    fill: #2196F3;
}


.hrestyk {
    fill: #000;
    width: 18px;
    height: 18px;
    transition: .25s;
}

.modal-title {
    max-width: 448px;
    text-align: center;
    margin-left: 25px;
    color: #212121;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
}

.input-container1 {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    transition:.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
}

.input-container1:hover .input-icon {
    fill: #2196F3;
}

.input-container2 {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    transition:.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
}

.input-container2:hover .input-icon2 {
    fill: #2196F3;
}

.input-container3 {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    transition:.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
}

.input-container3:hover .input-icon3 {
    fill: #2196F3;
}


.input-container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}

.modal-input {
    caret-color: #000;
    position: relative;
    padding-left: 42px;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    height: 40px;
    transition:.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input2 {
    caret-color: #000;
    position: relative;
    padding-left: 42px;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    height: 40px;
    transition:.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input3 {
    caret-color: #000;
    position: relative;
    padding-left: 42px;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    height: 40px;
    transition:.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,.modal-input:focus,.modal-input2:hover,.modal-input2:focus,.modal-input3:hover,.modal-input3:focus {
    border: 1px solid #2196F3;
}

.modal-input:focus + .input-icon {
    fill: #2196F3;
}

.modal-input2:focus + .input-icon2 {
    fill: #2196F3;
}

.modal-input3:focus + .input-icon3 {
    fill: #2196F3;
}

.modal-input4 {
    position: relative;
    padding-left: 12px;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    height: 40px;
    padding-bottom: 97.4px;
    transition:.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} 

.modal-input4:hover,.modal-input4:focus {
    border: 1px solid #2196F3;
}

.visually-hidden {
    margin:10px 0px 4px 0px;
    color: #757575;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}

.input-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 52px;
    top: 104px;
    z-index: 1;
    transition: .25s ;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon2 {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 52px;
    top: 176px;
    z-index: 1;
    transition: .25s ;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon3{
    width: 18px;
    height: 18px;
    position: absolute;
    left: 52px;
    top: 248px;
    z-index: 1;
    transition: .25s ;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box {
    /* flex-direction: row-reverse; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 25px;
}

.modal-form {
    width: 528px;
}

.checkbox-text {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    transition:.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-conditions {
    color: #2196F3;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
}

.modal-submitBtn {
    margin: 30px auto;
    padding: 10px 52px 10px 52px;
    border: none;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button-box {
    display: flex;
    justify-content: center;
}

.fake-chekbox {
    position: relative;
    /* background-color: #2196F3; */
    width: 12px;
    height: 11px;
    border: 2px solid #212121;
    border-radius: 2px;
}

.galochka {
    width: 13px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* opacity: 0; */
}

.modal-checkbox:checked + .fake-chekbox {
    background-color: #2196F3;
    opacity: 1;
    border: none;
    width: 16px;
    height: 15px;
}

.modal-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

}