body {
    font-family: 'Roboto';
}
                        /* HEADER  */

.header-container {
    width: 1200px;
    margin: auto;
    padding: 25px 0px 25px 0px;
    outline: dashed red;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    
}

.logo2 {
    color: #000;
}

.logo2-footer{
    color: #fff;
}

nav {
    display: flex;
    align-items: center;
}

.nav-list-menu {
    display: flex;
    margin-left: 95px;
}

.nav-list-menu a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    
}

.nav-link:nth-child(2) {
    margin-left: 55px;
}

.nav-link:nth-child(3) {
    margin-left: 55px;
}

.nav-list-menu a:active {
    color: #2196F3;
}

.nav-list-menu a:hover{
    color: #2196F3;
}

.nav-list-info {
    display: flex;
    margin-left: 315px;
}

.nav-list-info a{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;

}

.info-link {
    margin-left: 45px;
}

.nav-list-info a:active{
    color: #2196F3;
}

.nav-list-info a:hover{
    color: #2196F3;
}
        /* main */



.main-container {
    width: 1200px;
    margin: auto;
    outline: dashed red;
}

.filters-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;
    border: #F5F4FA ;
    width: 130px;
    height: 38px;
    border-radius: 4px;
}

.filters-button:hover{
    background-color: #2196F3;
    border: #2196F3 ;
    color: #fff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.button {
    padding: 94px 0px 24px 0px;
}

.list-button {
    display: flex;
}

.portfolio {
    padding: 24px 0px 94px 0px ;
}

.portfolio-tittle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio-discription {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

            /* footer */

.footer-container {
    width: 1200px;
    margin: auto;
    outline: dashed red;
}

footer {
    background-color: #2F303A;
    padding: 60px 0px 60px 0px ;
}



.footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-list a {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-list {
    margin: 0;
    padding: 0;
}

