body {
    font-family: 'Roboto';
}

                        /* HEADER  */

header {
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    width: 1200px;
    margin: auto;
    padding: 0px 15px 0px 15px;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;   
}

.logo:focus{
    border: 1.5px solid #2196F3;
    padding: 3px;
    outline: none;
    border-radius: 5px;
}

.logo2 {
    color: #000;
}

.logo2-footer{
    color: #fff;
}

nav {
    display: flex;
    align-items: center;
}

.nav-list-menu {
    align-items: center;
    display: flex;
    margin-left: 95px;
    gap: 52px;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition: .25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    top: 6px;
}

.nav-link:hover {
    color: #2196F3;
}

.nav-link:focus{
    outline: none;
    color: #2196F3;
}

.nav-link:hover::after{
    opacity: 1;
    transform: scale(1);
}

.nav-link::after {
    content: '';
    display: block;
    background-color: #2196F3;
    height: 3px; 
    width: 100%;
    margin: 10px 0px 0px 0px;
    opacity: 0;
    transform: scale(0);
    transition: .25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    top: 15px;
    border-radius: 2px;
}

.info-link1 {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition: .25s;    
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.info-link1:focus {
    outline: none;
    color: #2196F3;
    fill: #2196F3;
}

.info-link2:focus {
    outline: none;
    color: #2196F3;
    fill: #2196F3;
}

.info-link1:focus .info-svg1 {
    outline: none;
    fill: #2196F3;
}

.info-link2:focus .info-svg2 {
    outline: none;
    fill: #2196F3;
}

.info-link1:hover .info-svg1 {
    fill: #2196F3;
    transition: .25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.info-link2:hover .info-svg2 {
    fill: #2196F3;
    transition:.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.info-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-svg2{
    width: 10px;
    height: 16px;
    fill: #2F303A;
    transition: .25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.info-svg2:hover {
    fill: #2196F3;
}

.info-svg1{
    width: 16px;
    height: 12px;
    fill: #2F303A;
    transition: .25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.info-svg1:hover {
    fill: #2196F3;
}

.info-link1:hover{
    color: #2196F3;
}

.info-link2 {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition:.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.info-link2:hover{
    color: #2196F3;
}


.nav-list-info {
    display: flex;
    gap: 30px ;
    margin-left: 315px;
}




        /* main */



.main-container {
    width: 1200px;
    margin: auto;
}

.filters-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;
    border: #F5F4FA ;
    width: 130px;
    height: 38px;
    border-radius: 4px;
}

.filters-button:focus {
    background-color: #2196F3;
    border: #2196F3 ;
    color: #fff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: .25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}

.filters-button:hover{
    background-color: #2196F3;
    border: #2196F3 ;
    color: #fff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: .25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
    padding: 94px 0px 24px 0px;
}

.list-button {
    display: flex;
    justify-content: center;
}

.portfolio {
    padding: 24px 0px 94px 0px ;
}

.portfolio-item {
    outline: 1px solid #EEE;
    display: block;
    position: relative;
    overflow: hidden;
}

.portfolio-item:hover{
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    transition: .25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-article {
    display: block;
    overflow: visible;
}

.portfolio-item:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    transition: .25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hover-text {
    position: absolute;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.54px;
    max-width: 332px;

}

.overlay {
    transform: translatex(100%);
    transition: transform 250ms ease-in-out;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 372px;
    height: 294px;
    background-color: #2196F3;
    opacity: 0.9;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    overflow: hidden;
}

.portfolio-item:hover .overlay{
    transform: translatex(0);
}

.portfolio-article:focus .overlay{
    transform: translatex(0);

}

.portfolio-article:focus {
    width: 100%;
    height: 100%;
    outline: none;
    transition: .25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    overflow: visible;
}









.list-articles-portfolio  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    column-gap: 30px;
    row-gap: 30px;
}

.portfolio-tittle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin: 20px 24px 0px 24px;
}

.portfolio-discription {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0px 24px 20px 24px;
}

.filters-button {
    margin-left: 8px;
}

            /* footer */

.footer-container {
    width: 1200px;
    margin: auto;
}

footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.footer-container {
    width: 1200px;
    margin: auto;
    padding: 0;
    display: flex;
    padding: 0px 15px 0px 15px;
}


.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.tel-link, .mail-link {
    transition: .25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.tel-link:focus {
    color: #2196F3;
    outline: none;
    transition: .25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link:focus {
    color: #2196F3;
    transition: .25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}


.footer-list {
    margin: 0;
    padding: 0;
}

.footer-part2 .icons-list {
    margin-top: 20px;
}

.footer-title {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-part2 {
    margin-left: 70px;
}

.footer-part2 .icons {
    fill: #fff;
}

.footer-part2 .icon-link {
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-part2 .icon-link:hover {
    background-color: #2196F3;
}


.footer-sbmit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-part3 {
    margin-left: 93px;
}

.footer-subtitle {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-box {
    margin-top: 20px;
    display: flex;
    gap: 12px;
}

.tg-icon {
    fill: #FFF;
    width: 24px;
    height: 24px;
}

.btn-text {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
}

.footer-input {
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.48px;
    width: 358px;
    height: 46.86px;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-input::placeholder {
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.48px;
}

.footer-input:focus {
    outline: #000;
}

.icons-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 28px;

}

.icons {
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
}

.icons-list li {
    width: 44px;
    height: 44px;
}


.icons-list li:hover .icons{
    fill: #fff;
}

.icon-link {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-link:focus{
    outline: none;
    fill: #fff;
    background-color: #2196F3;
    transition: .25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:focus .icons{
    fill: #fff;
}

.icon-link:hover {
    fill: #fff;
    background-color: #2196F3;
    transition: .25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sbmit-btn:focus {
    outline: none;
    border: 1.5px solid #fff;
}
 