@mixin flex-mixin($justify-content, $align-items ) {
    display: flex;
    justify-content: $justify-content ;
    align-items: $align-items;
}

@mixin gap-mixin($gap) {
    display: flex;
    gap: $gap;
}