.header-container {
    
    width: 1200px;
    margin: auto;
    padding: 0px 15px 0px 15px;
}

.main-container {
    width: 1200px;
    margin: auto;
    padding: 0px 15px 0px 15px;
}

.footer-container {
    width: 1200px;
    margin: auto;
    padding: 0;
    display: flex;
    padding: 0px 15px 0px 15px;
}

body {
    font-family: 'Roboto';
    padding-top: 72px;
}
