.cap {
  padding: 118px 0px 118px 0px;
  margin: 0 auto;
  max-width: 1600px;
  background-image: url(./img/desktop/hero-bg@1x.webp);
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px 600px;

  &__tittle {
    margin: 0 auto;
    max-width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    z-index: 9999;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      max-width: 696px;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border: $main-color;
    background: $main-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #ffffff;
    z-index: 9999;
    transition: 0.25s;
    transition-timing-function: $transition-timing-function;

    @media screen and (min-width: 1200px) {
      width: 216px;
      height: 50px;
    }
  }

  &__button:hover {
    background-color: #f5f4fa;
    color: $main-color;
    transition: 0.25s;
    transform: scale(1.1);
  }

  &__button:focus {
    outline: none;
    background-color: #f5f4fa;
    color: $main-color;
    transition: 0.25s;
  }
}


@media screen and (min-width: 320px) {
  .cap {
    padding-bottom: 118px;
    padding-top: 118px;
    background-image: url(../../img/mobile/hero-bg@1x.webp);
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../img/mobile/hero-bg@1x.webp);
    background-size: cover;
    background-position: center;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../img/mobile/hero-bg@2x.webp);
      background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../img/mobile/hero-bg@2x.webp);
      background-size: cover;
      background-position: center;
    }
  }
}

@media screen and (min-width: 720px) {
  .cap {
    background-image: url(../../img/tablet/hero-bg@1x.webp);
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../img/tablet/hero-bg@1x.webp);
    background-size: cover;
    background-position: center;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../img/tablet/hero-bg@2x.webp);
      background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../img/tablet/hero-bg@2x.webp);
      background-size: cover;
      background-position: center;
    }
  }
}

@media screen and (min-width: 1200px) {
  .cap_title {
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
  }

  .cap {
    padding-bottom: 200px;
    padding-top: 200px;
    background-image: url(../../img/desktop/hero-bg@1x.webp);
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../img/desktop/hero-bg@1x.webp);
    background-size: cover;
    background-position: center;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../img/desktop/hero-bg@2x.webp);
      background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../img/desktop/hero-bg@2x.webp);
      background-size: cover;
      background-position: center;
    }
  }

}
