.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
    display: flex;

    & &__logo:focus {
        background-color: rgb(24, 24, 56);
        outline: none;
        border-radius: 5px;
    }

    &__logo {
        display: flex;
        justify-content: center;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: $main-color;   
        transition: .25s;    
        transition-timing-function: $transition-timing-function;

        @media screen and (min-width:1200px) {
            display: block;
            
        }
    }

    &__logo2 {
        color: #fff;
    }

    &__address  {
        margin-top: 20px;
        text-align: center;
        font-style: normal;
        font-weight: 200;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        opacity: 0.9;

        @media screen and (min-width:1200px) {
           text-align: end;
            
        }
    }

    &__list {
        margin: 0;
        padding: 0;
    }

    &__link2, &__link1 {
        margin-top: 8px;
        display: block;
        text-align: center;
        transition: .25s;
        transition-timing-function: $transition-timing-function;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);

        @media screen and (min-width:1200px) {
            text-align: left;
        }
    }

    &__link1:focus {
        color: $main-color;
        outline: none;
        transition: .25s;
        transition-timing-function: $transition-timing-function;
    }

    &__link2:focus {
        color: $main-color;
        transition: .25s;
        transition-timing-function: $transition-timing-function;
        outline: none;
    }

    &__part2 {
        margin-top: 60px;

        @media screen and (min-width:768px) {
            margin-top: 0;
        }

        @media screen and (min-width:1200px) {
            margin-left: 70px;
            margin-top: 0;
        }
    }

    &__part2 &__icons-list {
        margin-top: 20px;
    }

    &__title {
        text-align: center;
        color: #FFF;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.42px;
        text-transform: uppercase;

        @media screen and (min-width:1200px) {
            text-align: start;
        }
    }

    &__part2 &__icons  {
        fill: #fff;
    }

    &__part2 &__link {
        background-color: rgba(255, 255, 255, 0.10);
        border-radius: 50%;
        width: 100%;
        height: 100%;
  @extend %flexcenter;
    }

    &__part2 &__link:hover {
        background-color: $main-color;
    }

    &__part2 &__link:focus  {
        background-color: $main-color;
    }

    &__icons-list  {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 28px;
    
    }

    &__icons {
        fill: #AFB1B8;
        width: 20px;
        height: 20px;
        transition-timing-function: $transition-timing-function;
    }

    &__icons-list li {
        width: 44px;
        height: 44px;
        transition:.25s;
        transition-timing-function: $transition-timing-function;
    }

    
    &__icons-list li:hover &__icons{
        fill: #fff;
    }

    &__link {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        @extend %flexcenter;
        transition:.25s;
        transition-timing-function: $transition-timing-function;
    }

    &__link:focus{
        outline: none;
        fill: #fff;
        background-color: $main-color;
        transition: .25s;
        transition-timing-function: $transition-timing-function;
    }

    &__link:focus &__icons{
       fill: #fff;
    }

    &__link:hover {
        fill: #fff;
        background-color: $main-color;
        transition: .25s;
        transition-timing-function: $transition-timing-function;
    }

    &__part3 {
        margin-top: 60px;

        @media screen and (min-width:1200px) {
            margin-top: 0;
            margin-left: 93px; 
        }
    }

    &__subtitle {
        margin-bottom: 20px;
        color: #FFF;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        text-align: center;

        @media screen and (min-width:1200px) {
            text-align: start;
        }
    }

    &__box {
        margin-top: 10px;
        display: block;
        justify-content: center;

        @media screen and (min-width:1200px){
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }

    &__input {
        display: block;
        margin: 0 auto;
        width: 270px;

        padding-left: 16px;
        color: rgba(255, 255, 255, 0.60);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 125% */
        letter-spacing: 0.48px;

        height: 46.86px;
        outline: none;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        background: rgba(33, 150, 243, 0.00);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        transition: .25s;    
        transition-timing-function: $transition-timing-function;

        @media screen and (min-width:480px) {
            width: 358px;
        }
        
        @media screen and (min-width:480px) {
            width: 358px;
        }

        @media screen and (min-width:768px) {
            width: 468px;
        }

        @media screen and (min-width:1200px) {
            display: block;
            margin: auto;
            width: 358px;
        }
    }

    &__input::placeholder {
        color: rgba(255, 255, 255, 0.60);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 125% */
        letter-spacing: 0.48px;
    }

    
    &__input:focus {
        outline: #000;
    }
    
    &__sbmit-btn {
        margin: 20px auto 0px auto;
        @extend %flexcenter;
        gap: 10px;
        border: none;
        width: 200px;
        height: 50px;
        border-radius: 4px;
        background: $main-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        transition: .25s;    
        transition-timing-function: $transition-timing-function;

        @media screen and (min-width:1200px) {
            display: block;
            margin: auto;
        }
    }

    &__sbmit-btn:focus {
        outline: none;
        border: 1.5px solid #fff;
        transition: .25s;    
        transition-timing-function: $transition-timing-function;
    }

    &__btn-text {
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; /* 187.5% */
        letter-spacing: 0.96px;
    }    

    &__tg-icon {
        fill: #FFF;
        width: 24px;
        height: 24px;
    }

    & .container{
        display: block;
        
        @media screen and (min-width: 768px) {
            width: 70%;
        } 

        @media screen and (min-width:1200px) {
            display: flex;
            width: 1200px;
        }


    }

    &__adaptive-box {
        display: block;

        @media screen and (min-width:768px) {
            display: flex;
            justify-content: space-between;
        }
    }

}




























