@import "../../scss/utils/variables";

.header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: #FFF;
    z-index: 3;
    opacity: 0.9; 
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #ECECEC;

    &__logo {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: $main-color;   
        transition: .25s;    
        transition-timing-function: $transition-timing-function;
    }

    &__button-menu {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        margin-left: auto;
        margin-right: 25px;

        @media screen and (min-width: 768px ) {
            display: none;
        }
        
    }

    &__img-menu {
        width: 40px;
        height: 40px;
    }

    
    &__logo:focus{
        background-color: rgb(226, 226, 226);
        outline: none;
        border-radius: 5px;
    }

    &__logo2 {
        color: #000;
    }
    
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

      
    }

    &__list-menu {
        align-items: center;
        display: none ;
        gap: 52px;

        @media screen and (min-width: 768px) {
            display: flex;
            gap: 50px;
        }

        @media screen and (min-width: 1200px) {
            gap: 52px;
            margin-left: 95px;
        }
    }

    &__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: $second-color;
        transition: .25s;
        transition-timing-function: $transition-timing-function;
        position: relative;
        top: 6px;
    }

    &__link:hover {
        color: $main-color;
    }

    &__link:focus{
        outline: none;
        color: $main-color;
    }

    &__link:hover::after{
        opacity: 1;
        transform: scale(1);
    }
    
    &__link::after {
        content: '';
        display: block;
        background-color: $main-color;
        height: 3px; 
        width: 100%;
        margin: 10px 0px 0px 0px;
        opacity: 0;
        transform: scale(0);
        transition: .25s;
        transition-timing-function: $transition-timing-function;
        position: relative;
        top: 15px;
        border-radius: 2px;
    }

    &__link-info1 {
        color: #757575;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.28px;
        transition: .25s;    
        transition-timing-function: $transition-timing-function;

        @media screen and (min-width: 768px) {
            font-size: 12px;
        }

        @media screen and (min-width: 1200px) {
            color: #757575;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.28px;
            transition: .25s;    
            transition-timing-function: $transition-timing-function;
        }
    }

    &__link-info1:focus {
        outline: none;
        color: $main-color;
        fill: $main-color;
    }
    
    &__link-info2:focus {
        outline: none;
        color: $main-color;
        fill: $main-color;
    }

    &__link-info1:focus .header__svg1 {
        outline: none;
        fill: $main-color;
    }

    &__link-info2:focus .header__svg2 {
        outline: none;
        fill: $main-color;
    }

    &__link-info1:hover .header__svg1 {
        fill: $main-color;
    }

    &__link-info2:hover .header__svg2 {
        fill: $main-color;
    }

    &__infoBox {
        display: flex;
        align-items: center;
        gap: 10px;

        
        @media screen and (min-width: 768px) {
            gap: 8px;
        }

        @media screen and (min-width: 1200px) {
            gap: 10px;
        }
    }

    &__svg2{
        width: 10px;
        height: 16px;
        fill: #757575;
        transition: .25s;
        transition-timing-function: $transition-timing-function;
    }

    &__svg2:hover {
        fill: $main-color;
    }

    &__svg1{
        width: 16px;
        height: 12px;
        fill: #757575;
        transition: .25s;
        transition-timing-function: $transition-timing-function;
    }
    
    &__svg1:hover {
        fill: $main-color;
    }

    &__link-info1:hover{
        color: $main-color;
    }

    &__link-info2 {
        color: #757575;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.28px;
        transition:.25s;
        transition-timing-function: $transition-timing-function;

        
        @media screen and (min-width: 768px) {
            font-size: 12px;
        }

        @media screen and (min-width: 1200px) {
            color: #757575;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.28px;
            transition: .25s;    
            transition-timing-function: $transition-timing-function;
        }
    }

    &__link-info2:hover{
        color: $main-color;
    }

    &__list-info {
        display: none;
        gap: 30px ;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 10px ;
        }

        @media screen and (min-width: 1200px) {
              display: flex;
              flex-direction: row;
              gap: 30px ;
        }
    }
}







