.offers {
    padding: 47px 0px 94px 0px;

    &__list {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    &__tittle {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: $second-color;
    }

    &__title2 {
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }

    &__title-box{
        @extend %flexcenter;
        position: absolute;
        width: 370px;
        height: 70px;
        background: rgba(47, 48, 58, 0.80);
        bottom: 0px;
        opacity: 0;
        transition:.25s;    
        transition-timing-function: $transition-timing-function;
    }

    &__item {
        position: relative;
        height: 294px;
        width: 370px ;
        transition:.25s;
        transition-timing-function: $transition-timing-function;
    } 

    &__item:hover &__title-box{
        opacity: 1;
    }
    
    &__item::before {
        display: block;
        width: 100%;
        height: 120px;
        background-color: #F5F4FA;
    }
}








