.portfolio {
    padding: 24px 0px 94px 0px ;
}

.portfolio__list  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    column-gap: 30px;
    row-gap: 30px;
}

.portfolio__item {
    outline: 1px solid #EEE;
    display: block;
    position: relative;
    transition:.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover{
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    transition: .25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    transition: .25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__article {
    display: block;
    overflow: visible;
}


.portfolio__article:focus {
    width: 100%;
    height: 100%;
    outline: none;
    transition: .25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    overflow: visible;
}

.portfolio__tittle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin: 20px 24px 0px 24px;
}

.portfolio__discription {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0px 24px 20px 24px;
}


.portfolio__overlay-box {
    width: 372px;
    height: 294px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
}

.portfolio__overlay {
    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 372px;
    height: 294px;
    background-color: #2196F3;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
}

.portfolio__item:hover .overlay{
    transform: translatex(0);
}

.portfolio__article:focus .overlay{
    transform: translatex(0);

}

.portfolio__hover-text {
    position: absolute;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.54px;
    max-width: 332px;

}









