.portfolio {
    padding: 20px 0px 60px 0px;

    @media screen and (min-width:1200px) {
        padding: 24px 0px 94px 0px ;
    }

    &__box {
        display: flex;
        justify-content: center;
    }

    &__list  {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        align-content: center;
        column-gap: 30px;
        row-gap: 30px;
    }
    
    &__item {
        outline: 1px solid #EEE;
        display: block;
        position: relative;
        transition:.25s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__item:hover{
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
        transition: .25s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    // &__item:focus {
    //     box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    //     transition: .25s;
    //     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    // }
    
    &__article {
        display: block;
        overflow: visible;
    }
    
    
    &__article:focus {
        padding-bottom: 0.1px;
        width: 100%;
        height: 100%;
        outline: none;
        transition: .25s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
        overflow: visible;
    }
    
    &__tittle {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: #212121;
        margin: 20px 24px 0px 24px;
    }
    
    &__discription {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        color: #757575;
        margin: 0px 24px 20px 24px;
    }
    
    
    &__overlay-box {
        width: 372px;
        height: 294px;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0px;
        right: 0px;
    }
    
    &__overlay {
        transform: translatey(100%);
        transition: transform 250ms ease-in-out;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 372px;
        height: 294px;
        background-color: #2196F3;
        opacity: 0.9;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        
    }
    
    &__item:hover &__overlay{
        transform: translatex(0);
    }
    
    &__article:focus &__overlay{
        transform: translatex(0);
    
    }
    
    &__hover-text {
        position: absolute;
        color: #FFF;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 155.556% */
        letter-spacing: 0.54px;
        max-width: 332px;
    
    }
    
}










