
.why-us {
    padding: 94px 0px 47px 0px;
}

.why-us h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}


.why-us-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.why-us p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}


.why-us-item:nth-child(1)::before {
    background-image: url(../img/Vector.svg);
}

.why-us-item:nth-child(2)::before {
    background-image: url(../img/clock.svg);
}

.why-us-item:nth-child(3)::before {
    background-image: url(../img/diagram.svg);
}

.why-us-item:nth-child(4)::before {
    background-image: url(../img/astronaut.svg);
}

